node_modules
.expo
.expo-shared
.next
.turbo
dist
build
apps/admin-desktop/src-tauri/target
apps/admin-desktop/src-tauri/gen
*.tsbuildinfo
.DS_Store
npm-debug.log*
*.log
.env*
*.supabase.env
apps/*/npm-debug.log*
apps/*/.env*
apps/*/.supabase.env
supabase/.branches
supabase/.temp
